* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.slideer {
  margin-top: 60px;
  overflow: hidden;
}


 .slick-slide {
  display: flex !important;
  justify-content: center;
}

.slick-slide > div {
  width: 100%;
}



.hero-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hero-item {
  width: 50%;
}

.hero-title {
  font-size: 35px;
  margin: 30px 0 10px;
  font-family: sans-serif;
  font-weight: 400;
}

.hero-text {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-weight: 300;
}

.hero-btn {
  padding: 12px 24px;
  background: #111;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #fff;
  color: #111;
  border: 1px solid #111;
  transform: translateY(-3px);
}

/* image */
.hero-img {
  width: 100%;
  max-width: 460px;
  height: auto;
  object-fit: contain;
}

/* tablet */
@media (max-width: 992px) {
  .hero-title {
    font-size: 28px;
  }

  .hero-text {
    font-size: 16px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .hero-list {
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
  }

  .hero-item {
    width: 100%;
  }

  .hero-img {
    max-width: 100%;
  }

  .hero-btn {
    width: 100%;
    max-width: 250px;
  }

  .hero-title {
    font-size: 24px;
    margin-top: 10px;
  }
}

/* ============================================================================================ */


